{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <h3 style="color: white;" class="mb-3">Сброс пароля</h3>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <div class="form-floating">
            <input type="email" name='email' class="form-control bg-secondary mb-3" id="floatingInput" placeholder="name@example.com" required>
            <label for="floatingInput">Ваш Email</label>
        </div>
        <button class="w-100 btn btn-lg btn-outline-light" type="submit">Изменить пароль</button>
    </form>
{% endblock %}
