{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <h3 style="color: white;">Сброс пароля</h3>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p style="color: white;">Мы отправили вам письмо. Пожалуйста, свяжитесь с нами, если не получили его в течение нескольких минут.</p>
    <a style="font-size: 18px;" href="{% url 'main' %}" class="btn btn-outline-light">На главную</a>
{% endblock %}
