{% extends 'catalog/index.html' %}

{% load catalog_tag %}

{% block account_profile %}active{% endblock %}

{% block content %}
<div class="container my-5 row">
  <div style="background-color: white; padding: min(3rem, 5%); " class="rounded border-top col-sm-6 me-auto mb-3 border-success shadow-sm">
      <div class="mx-auto row col-sm-12">
      <div style="position:relative;">
        <span class="h3 mb-2">Основная информация</span>
        <span class="h3 text-success" style="right: 0; position: absolute;">
          <a style="height: 24px;" class="link-success" href="{% url "account_profile_editing" %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
          </a>
        </span>
      </div>
      <div class="col-sm-12 row mx-auto my-2">
        <p for="firstName" class="text-muted my-auto col">Имя аккаунта</p>
        <input type="text" class="form-control col text-muted" value="{{ user.username }}" disabled>
      </div>
      <hr class="my-0">
      <div class="col-sm-12 row mx-auto my-2">
        <p for="firstName" class="text-muted my-auto col">E-mail пользователя</p>
        <input type="email" class="form-control col text-muted" value="{{ user.email }}" disabled>
      </div>
      <hr class="my-0">
      <div class="col-sm-12 row mx-auto my-2">
        <p for="firstName" class="text-muted my-auto col">Имя</p>
        <input type="text" class="form-control col text-muted" value="{% if user.first_name %}{{ user.first_name }}{% else %}Не указано{% endif %}" disabled>
      </div>
      <hr class="my-0">
      <div class="col-sm-12 row mx-auto my-2">
        <p for="firstName" class="text-muted my-auto col">Фамилия</p>
        <input type="text" class="form-control col text-muted" value="{% if user.last_name %}{{ user.last_name }}{% else %}Не указана{% endif %}" disabled>
      </div>
    </div>
  </div>
  <div style="background-color: white; padding: min(3rem, 5%); " class="rounded border-top col-sm-5 ms-auto mb-3 border-success shadow-sm">
    <div class="mx-auto row col-sm-12">
        <h3>Пароль</h3>
        <div class="col-sm-12 row mx-auto my-2">
            <p for="firstName" class="text-muted my-auto col">Ваш пароль</p>
            <input type="password" class="form-control col text-muted" value="{{ user.password|truncatechars:15 }}" disabled>
        </div>
        <a href="{% url "account_reset_password" %}" class="link-danger">Сбросить пароль</a>
    </div>
  </div>
</div>
<div class="container my-5">
  <div style="background-color: white; padding: min(3rem, 5%); " class="rounded border-top mx-auto border-success shadow-sm">
    <div style="position: relative; display: flex; justify-content: center; flex-direction: column;" class="mx-auto">
      {% if profile.image %}
        <img style="position: absolute; max-width: 150px; left: 50%; transform: translateX(-50%) translateY(-100px); border-top-radius: 50%;" class="me-3 border border-success rounded-circle col" width="100%" height="150vw" src="{{ profile.image.url }}">
      {% endif %}
        <h3 style="margin-top: 55px;" class="mx-auto">Изображение профиля</h3>
        <a href="{% url "account_profile_image_editing" %}" class="btn btn-success">Сменить изображение профиля</a>
    </div>
  </div>
</div>

{% endblock%}