{% extends 'catalog/index.html' %}

{% block content %}
<div class="container my-5 mx-auto">
    <div style="background-color: white; padding: min(3rem, 5%); max-width: 65%;" class="rounded border-top border-success shadow-sm">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h5>Вы уверены, что хотите удалить рецепт "{{ recipe.title }}"?</h5>
            <button class="btn btn-outline-danger" type="submit">Удалить</button>
            <a class="btn btn-outline-secondary" href="{% url 'recipe_detail' pk=recipe.pk %}" type="submit">Отмена</a>
        </form>
    </div>
</div>
{% endblock content %}
